$black_1: #00101C;
$black_2: #0D1C28;
$grey_1: #728691;
$grey_2: #B1BABF;
$grey_3: #CCCFD2;
$grey_4: #E5E7E8;
$blue_1: #35B0E5;
$blue_2: #9AD7F2;
$blue_3: #D7EFFA;
$blue_4: #EAF7FC;
$blue_5: #F5FBFE;
$purple_1: #5433BE;
$purple_2: #693CF5;
$turquoise: #14E1DB;
$aquamarine: #91FBE5;
$green: #9BC53D;
$green_dark: #0fa200;
$red: #5433BE;
$yellow: #FDE74C;
$red_warning: #da4146;

$box_shadow: 0px 1px 1px $grey_3;
